html {
  font-size: 10px;
  overflow: hidden;
}

body {
  font-family: -apple-system, 
  BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-display: auto;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex: auto;
}

.sidebar {
  min-width: 350px;
  width: 350px;
  background-color: #eee;
}

.main {
  position: relative;
  flex: 1;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: -7px 0 19px -1px rgba(0, 0, 0, 0.18);
  box-shadow: -7px 0 19px -1px rgba(0, 0, 0, 0.18);
  padding: 4.6rem;
  z-index: 2;
  transition: 0.5s;
  overflow-y: auto;
}

.input_block {
  padding: 1rem;
}

.clients-list {
  height: calc(100vh - 75px);
  overflow-y: auto;
}

.client--item {
  padding: 0 1rem;
  transition: all 0.2s ease;
 }
 
.client--item:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.client--item {
  padding: 0.5rem 1rem!important;
}

.main-photo__block {
  margin-right: 3rem;
}

.main-profile--img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  object-position: center;
}

.value-title {
  font-weight: bold;
  font-size: 110%;
  margin-right: 0.3rem;
}

.detail-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.toggle-content {
  margin-left: -350px;
}

.burger-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 15px;
  left: 15px;
}

.burger-menu:hover {
  background-color: #eee;
}

.burger-menu--line {
  width: 16px;
  height: 2px;
  background-color: black;
  margin: 3.5px 0;
}