@media all and (max-width: 650px) {
  .sidebar {
    min-width: 270px;
    width: 270px;
  }

  .toggle-content {
    margin-left: -270px;
  }

  .main {
    padding: 2rem 1rem;
  }

  .burger-menu {
    left: 10px;
  }

  .detail-placeholder {
    font-size: 2rem;
  }
}